/*font-family: 'Abel', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

nav {
    background-color: #28292B;
    display: flex;
    justify-content: space-between;
}

.search {
    text-align: center;
    margin-top: 1.2rem;
}


h1,
h2,
h3,
h4 {
    font-family: 'Abel', sans-serif;
    padding: 1rem;
    font-size: 2.5rem;
}

h1::selection {
    background: #33FC02;
}

h2::selection {
    background: #33FC02;
}

h3::selection {
    background: #33FC02;
}

h4::selection {
    background: #33FC02;
}

p {
    padding: 1rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

p::selection {
    background: #33FC02;
}


section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    /*
    box-shadow: 2.5px 5px #000000;
    margin-top: 1rem;
*/

}

section:nth-child(odd) {
    background-color: #EAEAEA;
}

section:nth-child(even) {
    background-color: white;
}

/*standard SECTION*/

#indslag .sectionwrapper {
    flex-basis: 1200px;
    display: flex;
    flex-wrap: wrap;
}

/*KOLONNE*/

.kolonne {
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
}

.kolonne img {
    width: 100%;
}


/*VIDEO*/

#video .sectionwrapper {
    flex-basis: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.tekst_video {
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
}

.video {
    text-align: center;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
}



video {
    padding: 1rem;
}





/******** quiz style *********/

#quiz .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

.tekst_quiz {
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
}

#samlet_quiz {
    display: block;
    position: relative;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1rem;
}

#samlet_quiz input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
#samlet_quiz:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#samlet_quiz input:checked ~ .checkmark {
    background-color: #33FC02;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
#samlet_quiz input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
#samlet_quiz .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}



#quizzen {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    margin-left: 1rem;
}


#quiz {
    background-color: #373D46;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.question {
    font-weight: 600;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.answers {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.answers label {
    display: block;

}

#submit {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 1rem;
}

#submit:hover {
    background-color: #38a;
}


#results {
    padding-left: 1rem;
}





/*CYKELHJELM*/

#cykelhjelm {
    background-color: #383e47;
    box-shadow: 0px 0px;
    color: #33FC02;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}

/*SPLASH*/

#splash {
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 0px;
    margin-top: 0rem;
    background-image: url(billeder/splash-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}


#splash .explainer {
    background-color: hsla(216, 12%, 25%, 0.76);
    color: white;
    width: 40vw;
    position: absolute;
    bottom: 0;
}


/*Piechart*/


#datavisualisering .sectionwrapper {
    flex-basis: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.datavisualisering_tekst {
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
}

.svgcontainer {
    text-align: center;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
}




.piechart {
    background: #ddd;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: rotate(-90deg);
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 10px;

}

.pie1 {
    fill: none;
    stroke: #33FC02;
    stroke-width: 200;
    stroke-dasharray: 10 632;
    transition: all 1s ease;
}

.pie2 {
    fill: none;
    stroke: #3d60f0;
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -10;
    transition: all 1s ease;
}

.pie3 {
    fill: none;
    stroke: #f52b2b;
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -20;
    transition: all 1s ease;
}


.pie1:hover {
    opacity: 0.5;

}

.pie2:hover {
    opacity: 0.5;

}

.pie3:hover {
    opacity: 0.5;

}

.graf-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}



#tekst text {
    transform: rotate(90deg);


}

#chart_tekst p {
    padding: 0.5rem;
}


.cirkel1 {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #3d60f0;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;

}

.cirkel2 {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #f52b2b;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;

}

.cirkel3 {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #33FC02;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;

}

/*SOME*/

#some {
    text-align: center;
}

#some img {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    transition-duration: 0.4s;
}

#some img:hover {
    opacity: 0.5;
}

/*MEDIA*/

@media only screen and (min-width: 300px) {
    nav img {
        width: 50%;
        padding: 0.5rem;
    }

    .search {
        text-align: center;
        width: 33%;
        margin-top: 0.65rem;

    }

    #splash .explainer {

        width: 80vw;
    }

    #cykelhjelm {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 768px) {
    nav img {
        width: 40%;
        padding: 1rem;
    }

    .search {
        text-align: center;
        width: 15%;
        margin-top: 0.4rem;

    }

    #splash {
        background-position: 0 -60px;
        height: 400px;
    }

    #splash .explainer {

        width: 67vw;
    }

    #cykelhjelm {
        font-size: 2rem;
    }

}

@media only screen and (min-width: 1200px) {
    nav img {
        width: 60%;
        padding: 1rem;
    }

    .search {
        text-align: center;
        margin-top: 1.2rem;
        width: 8%;
    }

    #splash .explainer {

        width: 50vw;
    }

    #cykelhjelm {
        font-size: 2.5rem;
    }
}
